[submodule "BakeBudget-Backend"]
	path = BakeBudget-Backend
	url = https://github.com/SanyaElis/BakeBudget-Backend.git
[submodule "BakeBudget-Frontend"]
	path = BakeBudget-Frontend
	url = https://github.com/SanyaElis/BakeBudget-Frontend.git
